* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.caixa-maior {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10% 10% / 80% 80%;
    padding: 20px;
    color: #ffffff;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #f0eaea2b;
    color: #ffffff;
    width: calc( 100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #eae5e52b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-pequena {
    position: relative;
    font-size: 50px;
    line-height: 1;
    font-weight: 550;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 38px;
    margin-left: 10px;
}

.temp {
    color: #ffffff;
    margin-top: 30px; 
    font-size: 30px;
    font-weight: 700;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
}

.weather-details .humidity, 
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
    color:rgba(203, 236, 86, 0.911);
}

.wind {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}